# Gmail API
GMAIL_API_CREDENTIALS_PATH="credentials.json"
GMAIL_API_TOKEN_PATH="token.json"

# Gemini LLM
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Sender Info
SENDER_NAME="Your Name"
SENDER_EMAIL="your.email@example.com"

# Info context
MESSAGE_CONTEXT="Your context here"
LLM_PROMPT="Write a formal and courteous email."

# flags
SIMULATE_EMAIL_SEND=True
START_CONTACT_INDEX=0
REVIEW_IN_EDITOR=True

# LinkedIn API
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=
